<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingCartServlet</servlet-name>
    <servlet-class>shoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingCartServlet</servlet-name>
    <url-pattern>/shoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteShoppingCartServlet</servlet-name>
    <servlet-class>deleteShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteShoppingCartServlet</servlet-name>
    <url-pattern>/deleteShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyShoppingCartServlet</servlet-name>
    <servlet-class>MyShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyShoppingCartServlet</servlet-name>
    <url-pattern>/MyShoppingCartServlet</url-pattern>
  </servlet-mapping>
 <filter>
 	<filter-name>CharacterEncodingFilter</filter-name>
 	<filter-class>CharacterEncodingFilter</filter-class>
 </filter>
 
 <filter-mapping>
 	<filter-name>CharacterEncodingFilter</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
</web-app>